### Eclipse
.project
.cproject
.settings/

### CMake build directories
build/
build-linux/
build_x11/
build_x11vk/
build_wl/
bin/
bin_x11/
bin_x11vk/
bin_wl/
lib/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

### C
# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.idb
*.pdb

### C++
# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.idb
*.pdb

### Objective-C
# Xcode user settings
xcuserdata/

# Xcode build data
DerivedData/

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Linux
# Backup files
*~

# Temporary files from deleted open files
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder
.Trash-*

# NFS temporary files
.nfs*